.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    background: #1e1e1e;
    color: #fff;
  }
  
  .typing-demo {
    width: 87ch;
    animation: typing 3s steps(32), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  